<div class="container-fluid px-4">
	<div class="row bg-light rounded align-items-center justify-content-center mx-0">
		<div class="col-md-6 text-center p-4">
			<div>
				<h1 class="display-1 fw-bold">404</h1>
				<h1 class="mb-4">Page Not Found</h1>
				<p class="mb-3">
					We’re sorry, the page you have looked for does not exist in our website!
				</p>
				<form>
					<button class="btn btn-primary mb-3 p-2" asp-area="" asp-controller="HouseOrganizations" asp-action="All">Go Back To Home</button>
				</form>
				<div class="m-2">
					<img class="rounded-circle" src="~/img/Error404.png" alt="" style="width: 400px; height: 400px;">
				</div>
			</div>
		</div>
	</div>
