<div class="container-fluid px-4">
	<div class="row bg-light rounded align-items-center justify-content-center mx-0">
		<div class="col-md-6 text-center p-4">
			<div>
				<h1 class="display-1 fw-bold">Error!</h1>
				<p class="mb-3">
					We’re sorry, an error occurred while processing your request!
				</p>
				<form>
					<button class="btn btn-primary p-2" asp-controller="HouseOrganizations" asp-action="All">Go Back To Home</button>
				</form>
				<div class="m-2">
					<img class="rounded-circle" src="~/img/Error.png" alt="" style="width: 400px; height: 400px;">
				</div>
			</div>
		</div>
	</div>
