@{
	ViewData["Title"] = "Home Page";
}

<div class="bg-light rounded h-100 p-3">
	<h1 class="display-4 text-center mb-3">Welcome to House Manager App</h1>
	<h3 class="col-md-8 offset-md-2 text-center mb-4">This is a simple app, that aims to facilitate the management of houses with multiple units/apartments.</h3>
	<img class="col-md-6 offset-md-3 rounded-circle" src="~/CustomImages/HomePageImg.png" />
</div>
