<div class="container d-flex flex-column align-items-center">
	<h1 class="display-4 text-center mb-3">Welcome to House Manager App</h1>
	<h3 class="text-center w-50 mb-4">This is a simple app, that aims to facilitate the management of houses with multiple units/apartments.</h3>
	<img class="mb-4 h-75 rounded-circle" src="~/img/HomePageImg.png" />
</div>
