<div class="row justify-content-center">
	<h1 class="display-4 text-center mb-3">Welcome to House Manager App</h1>
	<h3 class="text-center w-50 mb-5">This is a simple app, that aims to facilitate the management of houses with multiple units/apartments.</h3>
	<div class="text-center align-middle">
		<img class="m-4 rounded-circle" src="~/img/HomePageImg.png" />
	</div>
</div>
