@inject IHttpContextAccessor HttpContextAccessor

@{
	var houseOrgName = HttpContextAccessor?.HttpContext?.Session.GetString(HouseOrgName);
	var activePresident = ViewBag.ActivePresident;
	var activeCashier = ViewBag.ActiveCashier;
}

<h4 class="text-center mb-4">@houseOrgName - Management</h4>
<hr />
<div class="row row-cols-2 justify-content-center">
	<div class="col-12 col-lg-3 justify-content-center mb-5">
		@if (activePresident == null)
		{
			var notAssignedPresident = new ActiveManagerViewModel()
				{
					Name = string.Empty,
					Position = ManagerPosition.President
				};

			<partial name="_ManagerNotAssignedPartial" model="@notAssignedPresident" />
		}
		else
		{
			<partial name="~/Views/Managers/_ActiveManagerPartial.cshtml" model="@activePresident" />
		}
	</div>
	<div class="col-12 col-lg-3 justify-content-center mb-5">
		@if (activeCashier == null)
		{
			var notAssignedCashier = new ActiveManagerViewModel()
				{
					Name = string.Empty,
					Position = ManagerPosition.Cashier
				};

			<partial name="_ManagerNotAssignedPartial" model="@notAssignedCashier" />
		}
		else
		{
			<partial name="~/Views/Managers/_ActiveManagerPartial.cshtml" model="@activeCashier" />
		}
	</div>
</div>