@inject IMemoryCache cache

@{
	ViewBag.HouseOrgId = cache.Get(ManagedHouseOrgCacheId);
	ViewBag.HouseOrgName = cache.Get(ManagedHouseOrgCacheName);
}

<form class="col-12">
	<div class="bg-light rounded h-100 p-4">
		<h4 class="text-center mb-4">Management</h4>
		<hr />
		<div id="current-management" class="row row-cols-1 row-cols-md-2 justify-content-center">
			@await Component.InvokeAsync("ActiveManager", new { model = ViewBag.ActivePresident, position = "President"})
			@await Component.InvokeAsync("ActiveManager", new { model = ViewBag.ActiveCashier, position = "Cashier" })
		</div>
		<div id="previous-managements" class="row row-cols-1 row-cols-md-2 justify-content-center">
			<div>
				<h5>Previous presidents</h5>
				<partial name="_InactiveManagerViewPartial" model="@ViewBag.InactivePresidents" />
			</div>
			<div>
				<h5>Previous cashiers</h5>
				<partial name="_InactiveManagerViewPartial" model="@ViewBag.InactiveCashiers" />
			</div>
		</div>
	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}