@inject IHttpContextAccessor HttpContextAccessor

@model List<UnitViewModel>

@{
	var houseOrgName = HttpContextAccessor?.HttpContext?.Session.GetString(HouseOrgName) ?? "none";
	var houseOrgId = HttpContextAccessor?.HttpContext?.Session.GetInt32(HouseOrgId) ?? 0;
}

<div class="row row-cols-10 justify-content-center">
	<h4 class="text-center mb-4">@houseOrgName - Joined Units</h4>
	<hr />
	<partial name="~/Views/Units/_AllUnitsPartial.cshtml" model="@Model" />
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
