@model decimal

<div class="card border-2 p-0 col-12 mb-3">
	<h4 class="card-header p-2 text-center">Current Balance</h4>
	<div class="card-body row align-items-center mx-0">
		@if (Model <= 0)
		{
			<h2 class="display-4 text-center text-danger align-middle mb-3">@Model BGN</h2>
		}
		else
		{
			<h2 class="display-4 text-center align-middle mb-3">@Model BGN</h2>
		}
	</div>
</div>