@inject SignInManager<IdentityUser> SignInManager

<div class="navbar-nav align-items-center ms-auto">
	@if (SignInManager.IsSignedIn(User))
	{
		
			<div class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
					<span class="d-none d-lg-inline-flex">Hello @User.Identity?.Name!</span>
				</a>
				<div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
					<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
						<button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
					</form>
				</div>
			</div>
		
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
		</li>
	}
</div>