@model List<HouseOrganizationModel>


@if (!Model.Any())
{
    <form>
        <div class="bg-light rounded h-100 p-5">
            <h2 class="text-center">You don't have any house organizations, yet!</h2>
            <h3 class="text-center">Do you want to add one?</h3>
            <button class="btn btn-lg btn-success col-4 offset-4 mt-4" asp-controller="HouseOrganization" asp-action="Add">Add House Organization</button>
        </div>
    </form>
}
else
{
    <div class="col-12">
        <div class="bg-light rounded h-100 p-4">
            <h4 class="mb-4">Managed House Organizations</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Town</th>
                            <th scope="col">Details</th>
                            <th scope="col">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var house in Model)
                        {
                            <tr>
                                <th scope="row">1</th>
                                <td>@house.Name</td>
                                <td>@house.Address</td>
                                <td>@house.TownId</td>
                                <td>
                                    <button type="button" class="btn btn-info col-6" asp-controller="HouseOrganization" asp-action="Details">Details</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-warning col-6" asp-controller="HouseOrganization" asp-action="Details">Edit</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button class="btn btn-sml btn-success mt-4" asp-controller="HouseOrganization" asp-action="Add">Add House Organization</button>
            </div>
        </div>
    </div>
}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}