@model List<HouseOrganizationViewModel>

@if (!Model.Any())
{
	<form class="row justify-content-center">
		<h2 class="text-center">There are no house organizations added, yet!</h2>
		<button class="btn btn-lg btn-success col-6 col-md-2 text-center m-4" asp-area="" asp-controller="HouseOrganizations" asp-action="Add"><i class="fa-solid fa-house-medical me-2"></i>Add House Organization</button>
	</form>
}
else
{
	<div class="row mb-5 justify-content-lg-around justify-content-center">
		<form class="row justify-content-start px-0">
			<button asp-area="" asp-controller="HouseOrganizations"
					asp-action="Add"
					class="btn btn-sml btn-success col-8 col-lg-2 mb-3 mx-3">
				<i class="fa-solid fa-house-medical me-2"></i>Add House Organization
			</button>
		</form>
		<form class="row justify-content-center mb-3">
			<partial name="_AllHouseOrganizationsPartial" model="@Model" />
		</form>
	</div>
}